html,body,span,
blockquote,
a,abbr,address,cite,
em,img,
strong,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
h1,h2,h3,h4,h5,h6,p,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul,li{
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}
input,select,textarea,button{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
textarea{
    resize: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
    border: none;
}
em,i{
    font-style: normal;
}